.StatCategories {
  position: absolute;
  top: 40%;
  width: 10rem;
  height: 20rem;
  background-color: #aaa;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
