.player-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.3rem solid #666;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}
