.top-bar {
  background-color: #111;
  padding: 2rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
}